<template name="blogLayout">
  <div class="layout-wrapper page" id="page">
    <!--header=-->
    <header id="header" class=" header white-header active-section">
    {{> header}}
    </header>
    <!-- /header -->
    <!-- breadcrumb -->
    <div class="section page-title background-wrapper with-overlay black-overlay active-section">
      {{> breadcrumbl}}        
    </div>
    <!-- /breadcrumb -->
    <!-- main -->
    <div class="section blog-section active-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="content">
                        {{Template.dynamic template=blogMain}}
                    </div>
                </div>
                <div class="col-md-3 col-md-offset-1">
                    <div class="sidebar">
                        {{Template.dynamic template=sidebar}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /main -->
    <!-- footer section -->
    <footer>
      {{> footer}}
    </footer>
    <!-- /footer section-->
  </div>
</template>