<template name="breadcrumb">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="background: url(demo/hero/big1.jpg) 0% 0%;"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>PageTitle</h1>
                <p class="">Page descrption-Professionally iterate efficient best practices and cooperative communities</p>
                <ol class="breadcrumb">
                    <li><a href="index-2.html">Home</a></li>
                    <li><a href="#">Library</a></li>
                    <li class="active">pageTitle</li>
                </ol>
            </div><!--/.col-->
        </div><!--/.row-->
    </div><!--/.container-->
</template>
