<template name="breadcrumbl">
    <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="background: url(demo/hero/big1.jpg) 0% 0px;"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12"><h1>Our Lab</h1>
                    <p class="">
                        Professional tutorials and news on ict
                    </p>
                    <ol class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Library</a></li>
                        <li class="active">Lab</li>
                    </ol>
                </div><!--/.col-->
            </div><!--/.row-->
        </div><!--/.container-->
</template>