<template name="slider">
    <section class="big-hero section background-wrapper fullscreen with-overlay black-overlay active-section" style="height: 567px;">
        <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="background: url(demo/hero/big11.jpg) 0% 0%;">
            
        </div>
        <div class="container middle-content">
            <div class="row">
                <div class="col-md-8">
                    <div class="element">
                        <h1 class="lighter"><strong>Irshaad Technologies</strong> is an interactive agency that develops websites and premium mobile applications.</h1>
                        <div class="space"></div>
                        <p><a href="about.html" class="btn btn-punch btn-white hover-primary hover-colors btn-md" role="button">Learn More</a> <a href="contact.html" class="btn btn-punch btn-primary btn-md btn-darker" role="button">Get in Touch</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a href="#about" title="" class="scroll-down"><i class="fa animated infinite bounce ti-arrow-down"></i></a>
    </section>
</template>