<template name="footer">
    <section class="section with-overlay black-overlay background-wrapper  active-section">
            <div class="background-image parallax-background" data-stellar-background-ratio="0.5" style="background: url(demo/hero/big1.jpg) 0% 0px;"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="small-text uppercase-text strong-text">About Us</h3>
                        <p>Irshaad Technologies is a Technology service firm that provides cutting edge technological solutions to enhance the technological terrain in nigeria and its environ by delivering high class value through our brilliant innovation. <br>Our team comprises of young, talented, professionals with sound knowledge of world class technology to design, develop, implement, and manage business transformation on areas of web and mobile application, software, services and security system instalation, networking nd technology procurement. We have an indepth understanding on how technology accelerates success and are passionate about attracting and supporting unique talents in growing our business and driving operational excellence.</p>
                        <ul class="list-inline social-links">
                            <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                            <li><a href="#" title=""><i class="icon ti-twitter"></i></a></li>
                            <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                            <li><a href="#" title=""><i class="icon ti-tumblr"></i></a></li>
                        </ul>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-md-offset-1">
                        <h3 class="small-text uppercase-text strong-text">Address</h3>
                        <address>
                          <strong>Irshaad Technologies, Inc.</strong><br>
                          795 Folsom Ave, Suite 600<br>
                          San Francisco, CA 94107<br>
                          <abbr title="Phone">P:</abbr> (+234) 816-274-0850
                        </address>

                        <address>
                          <a href="mailto:#">info@irshaadtech.com</a>
                        </address>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-md-offset-1">
                        <h3 class="small-text uppercase-text strong-text">Our Mission</h3>
                        <p>• To develop evolutinary IT solutions that exceed client's expectations and meet their increasing technological challenges and business demands, Generate expectational return to stake holder and Our customers will receive the fastest and highest quality of customer service available through our experienced and inovative people.</p>
                    </div><!-- /.col -->
                    <div class="col-md-12 text-center">
                        <div class="space"></div>
                        <div class="space"></div>
                        <ul class="list-inline">
                            <li><a href="#" title="" class="uppercase-text strong-text">Get in Touch</a></li>
                            <li><a href="#" title="About-Us" class="uppercase-text strong-text">About</a></li>
                            <li><a href="#" title="" class="uppercase-text strong-text">Labs</a></li>
                            <li><a href="#" title="" class="uppercase-text strong-text">Help</a></li>
                            <li><a href="#" title="" class="uppercase-text strong-text">Terms</a></li>
                            <li><a href="#" title="" class="uppercase-text strong-text">Privacy</a></li>
                        </ul>
                        <p>© 2015 - Irshaad Technologies designed By IrshaadTechnologies.</p>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section>
</template>