<template name="postPage">
  <div class="entry format-standard">
      <div class="entry-media">
          <a href="#" title=""><img src="demo/blog/blog1.jpg" alt="" class="img-responsive"></a>
      </div><!--/.entry-media-->
      <div class="entry-top">
          <ul class="entry-meta list-inline">
              <li><a href="#" title="">Apr 1, 2015</a></li>
              <li><a href="#comments" title="">1 comment</a></li>
              <li class="pull-right hidden-xs hidden-md hidden-mobile"><a href="#" title="">Design</a>, <a href="#" title="">Trend</a>, <a href="#" title="">Mobile</a>, <a href="#" title="">WordPress</a></li>
          </ul>
          <h3 class="entry-title"><a href="#" title="">{{title}}</a></h3>
      </div><!--/.entry-top-->
      <div class="entry-content">
          {{body}}
      </div><!--/.entry-content-->
      <div class="entry-bottom">
          <ul class="list-inline entry-meta text-center">
              <li class="pull-left"><a href="#" title="">Prev Post</a></li>
              <li><a href="#" title=""><img alt="Jane Doe" src="demo/team/team1.jpg" class="avatar avatar-30 photo" height="30" width="30"> {{author}}</a></li>
              <li class="pull-right"><a href="#" title="">Next Post</a></li>
          </ul><!--/.entry-meta-->
      </div><!--/.entry-bottom-->
  </div><!--/.entry-->
  <div id="comments" class="comment-list">
      <h3 class="comment-title">5 comments</h3>
      <ul class="media-list text clearlist">
          <!-- Comment Item -->
          <li class="media comment-item">
              <div class="media-body">
                  <div class="comment-item-data">
                      <a class="pull-left" href="#"><img class="media-object comment-avatar" src="demo/team/team3.jpg" alt="" width="46" height="46"></a>
                      <div class="comment-author">
                          <a href="#">Emma Johnson</a>
                      </div>
                      Feb 9, 2014, at 10:37 <span class="separator">—</span>
                      <a href="#">Reply</a>
                  </div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque at magna ut ante eleifend eleifend.</p>
              </div>
          </li>
          <!-- End Comment Item --> 
      </ul>
    
      <!--leave a comment form -->
      <h3 class="reply-title">Leave a Comment</h3>
      <form data-toggle="validator" role="form">
          <div class="form-group row">
              <div class="form-group col-md-6">
                  <!-- Name -->
                  <input type="text" class="form-control" id="inputName" placeholder="Name" required="">
                  <div class="help-block with-errors"></div>
              </div><!--/.col-->
              <div class="form-group col-md-6">
                  <!-- Email -->
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email" maxlength="100" data-error="Bruh, that email address is invalid" required="">
                  <div class="help-block with-errors"></div>
              </div><!--/.col-->
          </div><!--/.row-->

          <div class="form-group">
              <!-- Website -->
              <input type="url" id="inputWebsite" class="form-control" placeholder="Website" maxlength="100" required="">
              <div class="help-block with-errors"></div>
          </div>
          
          <!-- Comment -->
          <div class="from-group">
              <textarea id="inputText" class="input-md form-control" rows="6" placeholder="Comment" maxlength="400"></textarea>
          </div>
          
          <!-- Send Button -->
          <button type="submit" class="btn btn-punch btn-xs btn-black btn-darker disabled" style="pointer-events: all; cursor: pointer;">Send comment</button>
          
      </form>
      <!-- /leave a comment form -->
  </div>
</template>