<template name="sidebar">
<div class="widget">
        <h3 class="widget-title">Recent Posts</h3>
        <ul class="recent-posts">
            <li class="clearfix">
                <img src="demo/blog/thumb1.jpg" alt="">
                <a href="blog-single.html" title="">Clean, Readable &amp; Modern Web Typography</a>
                <span>JOHN DOE / APR 1, 2015</span>
            </li>
            <li class="clearfix">
                <img src="demo/blog/thumb2.jpg" alt="">
                <a href="blog-single.html" title="">A Week in Review N.28</a>
                <span>JOHN DOE / APR 1, 2015</span>
            </li>
            <li class="clearfix">
                <img src="demo/blog/thumb3.jpg" alt="">
                <a href="blog-single.html" title="">Meet our Community Superstars for February</a>
                <span>JOHN DOE / APR 1, 2015</span>
            </li>
            <li class="clearfix">
                <img src="demo/blog/thumb4.jpg" alt="">
                <a href="blog-single.html" title="">Are DIY Website Builders Really Worth It?</a>
                <span>JOHN DOE / APR 1, 2015</span>
            </li>
        </ul>
    </div><!--/.widget-->

    <div class="widget">
        <h3 class="widget-title">Archives</h3>
        <ul class="list-group">
            <li class="list-group-item"><span class="badge">14</span><a href="#" title="">Web Design</a></li>
            <li class="list-group-item"><span class="badge">14</span><a href="#" title="">Photoshop</a></li>
            <li class="list-group-item"><span class="badge">14</span><a href="#" title="">Illustrator</a></li>
        </ul>
    </div><!--/.widget-->

    <div class="widget">
        <h3 class="widget-title">Pages</h3>
        <div class="list-group">
            <a href="about.html" class="list-group-item">About Us</a>
            <a href="about.html" class="list-group-item active">Who We Are</a>
            <a href="service.html" class="list-group-item">What We Do</a>
            <a href="about.html" class="list-group-item">Our Mission</a>
            <a href="contact.html" class="list-group-item">Get In Touch</a>
        </div>
    </div><!--/.widget-->

    <div class="widget">
        <h3 class="widget-title">Text</h3>
        <div class="panel">
            <div class="panel-body">
                <p>Consectetur adipiscing elit. Quisque magna ante eleifend eleifend. Purus ut dignissim consectetur, nulla erat ultrices purus, ut consequat sem elit non sem. </p>
            </div>
        </div>
    </div><!--/.widget-->

    <div class="widget">
        <h3 class="widget-title">Progress Bar</h3>
        <div class="progress-container clearfix">
            <span class="progress-text pull-left">Branding</span>
            <span class="prgress-value pull-right">60%</span>
            <div class="clearfix"></div>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
        <div class="progress-container clearfix">
            <span class="progress-text pull-left">Design</span>
            <span class="prgress-value pull-right">90%</span>
            <div class="clearfix"></div>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
                <span class="sr-only">60% Complete</span>
            </div>
        </div>
        <div class="progress-container clearfix">
            <span class="progress-text pull-left">Development</span>
            <span class="prgress-value pull-right">75%</span>
            <div class="clearfix"></div>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                <span class="sr-only">75% Complete</span>
            </div>
        </div>
    </div><!--/.widget-->
</template>