<template name="home">        
    <section id="about" class="section big-padding active-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <h3 class="lighter">About Studio</h3>
                        <p>Irshaad Technologies is a Technology service firm incorporated in Nigeria by the NCAC under the Nigeria Companies and Allied MAtters Act(CAMA) 1990 We provide cutting edge technological solutions to enhance the technological terrain in nigeria and its environ to our esteem clients by delivering high class value through our brilliant innovation.</p>
                        <p><a href="about.html" class="btn btn-punch btn-link btn-black">Who We Are</a></p>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-md-offset-1">
                        <h3 class="lighter">What We Do</h3>
                        <p>Irshaad Technologies provides technical innovation; your idea becomes a brand and a selling point. We are a company who will transform your idea channeling it in today’s powerful technological application and devices. Partner with us as we advance your brand and business into the global marketplace.</p>
                        <p><a href="service.html" class="btn btn-punch btn-link btn-black">Our Services</a></p>
                    </div><!-- /.col -->
                    <div class="col-md-3 col-md-offset-1">
                        <h3 class="lighter">What We Think</h3>
                        <p>Irshaad Technologies provide you with information and communication technology news and updates from all over the world.</p>
                        <p><a href="blog.html" class="btn btn-punch btn-link btn-black">Check the Lab</a></p>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.section -->
        <!-- Description  -->
        <section class="section no-padding active-section">
            <div class="flexslider">
                <ul class="slides">
                    <li class="flex-active-slide" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;"><img src="demo/slider/slider1.jpg" alt="" class="img-responsive" draggable="false"></li>
                    <li style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class=""><img src="demo/slider/slider2.jpg" alt="" class="img-responsive" draggable="false"></li>
                </ul>
            <ol class="flex-control-nav flex-control-paging"><li><a class="flex-active">1</a></li><li><a class="">2</a></li></ol></div>
        </section><!--/.flex-slider-->
        <!-- 4 feauters of services  -->
        <section class="section active-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <h1 class="lighter">Perfect for your project</h1>
                        <p class="lead">You have the design, you have the code </p>
                        <div class="space hidden-sm hidden-xs"></div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-time text-primary"></i>
                            <h4 class="lighter">Application Development</h4>
                            <p>Irshaad Technologies is the leading web development company across the Globe. Our development team provides interactive web development which includes intranet, portals, and business applications. We have perfected user action and also melded our web development work with best practices. This makes our web development programs the most competitive applications across the Globe.</p>
                            <div class="space hidden-sm hidden-xs"></div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-mobile text-primary"></i>
                            <h4 class="lighter">CMS & Social Apps</h4>
                            <p>Irshaad Technologies is the leading web development company across the Globe. Our development team provides interactive web development which includes intranet, portals, and business applications. We have perfected user action and also melded our web development work with best practices. This makes our web development programs the most competitive applications across the Globe.</p>
                            <div class="space hidden-sm hidden-xs"></div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-layout text-primary"></i>
                            <h4 class="lighter">Website and UI Design</h4>
                            <p>Irshaad Technologies is the leading web development company across the Globe. Our development team provides interactive web development which includes intranet, portals, and business applications. We have perfected user action and also melded our web development work with best practices. This makes our web development programs the most competitive applications across the Globe.</p>
                            <div class="space hidden-sm hidden-xs"></div>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-face-smile text-primary"></i>
                            <h4 class="lighter">Website Maintenance</h4>
                            <p>Irshaad Technologies is the leading web development company across the Globe. Our development team provides interactive web development which includes intranet, portals, and business applications. We have perfected user action and also melded our web development work with best practices. This makes our web development programs the most competitive applications across the Globe.</p>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-notepad text-primary"></i>
                            <h4 class="lighter">Logo and Print Design</h4>
                            <p>Branding is the overall personality of your site. This branding is a combination of how you see yourself and how customers perceive you. Blazedream makes sure that you stand out in the marketplace and you will be the top of the mind choice of every customer because your brand will stand apart from the rest. We will build your brand identity through visual story telling.</p>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="service-block">
                            <i class="icon ti-book text-primary"></i>
                            <h4 class="lighter">SEO and SMO</h4>
                            <p>Irshaad Technologies is the leading web development company across the Globe. Our development team provides interactive web development which includes intranet, portals, and business applications. We have perfected user action and also melded our web development work with best practices. This makes our web development programs the most competitive applications across the Globe.</p>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.section --><!-- CONTENT 6-->
        <section class="section active-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="team-block">
                            <a href="#" title="" class="team-image text-center">
                                <img src="demo/team/aminu_jatto.jpg" alt="">
                                <span class="overlay">
                                    <i class="icon ti-book middle-content"></i>
                                </span>
                            </a>
                            <p class="position">CEO/Web Developer</p>
                            <h3>Aminujatto Abdulqahhar</h3>
                            <p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
                            <ul class="list-inline social-links">
                                <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="team-block">
                            <a href="#" title="" class="team-image text-center">
                                <img src="demo/team/Ajala_Asamii.jpg" alt="">
                                <span class="overlay">
                                    <i class="icon ti-game middle-content"></i>
                                </span>
                            </a>
                            <p class="position">co-founder/Web Developer</p>
                            <h3>Ajala AbdusSamii</h3>
                            <p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
                            <ul class="list-inline social-links">
                                <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="team-block">
                            <a href="#" title="" class="team-image text-center">
                                <img src="demo/team/aminu_jatto2.jpg" alt="">
                                <span class="overlay">
                                    <i class="icon ti-filter middle-content"></i>
                                </span>
                            </a>
                            <p class="position">UI/Mobile App Designer</p>
                            <h3><a href="#" title="">Mustapha</a></h3>
                            <p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
                            <ul class="list-inline social-links">
                                <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                                <li><a href="https://twitter.com/irshaadTech" title=""><i class="icon ti-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <div class="team-block">
                            <a href="#" title="" class="team-image text-center">
                                <img src="demo/team/taiwo_olapade.jpg" alt="">
                                <span class="overlay">
                                    <i class="icon ti-ink-pen middle-content"></i>
                                </span>
                            </a>
                            <p class="position">Graphics Designer</p>
                            <h3><a href="#" title="">Taiwo Olapade</a></h3>
                            <p>Eradicate invest honesty human rights accessibility theory of social change. Diversity experience in the field compassion, inspire breakthroughs planned giving.</p>
                            <ul class="list-inline social-links">
                                <li><a href="#" title=""><i class="icon ti-facebook"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-twitter"></i></a></li>
                                <li><a href="#" title=""><i class="icon ti-google"></i></a></li>
                            </ul>
                        </div>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- /.section -->
        <!-- 3 columns content -->
        <section class="section with-overlay black-overlay background-wrapper active-section">
            <div class="background-image" style="background: url(demo/hero/big9.jpg) 50% 0%;">
                
            </div><!-- /.background-image -->
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 text-center">
                        <div class="owl-carousel owl-theme owl-responsive-1200 owl-loaded" data-col-lg="1" data-col-md="1" data-col-sm="1">
                            <!--/.carousel-item-->
                            <!--/.carousel-item-->
                        <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0s; -webkit-transition: 0s; width: 1500px;"><div class="owl-item active" style="width: 750px; margin-right: 0px;"><div class="item">
                                <i class="icon large ti-package text-primary"></i>
                                <h3 class="lighter">Irshaad Technologies Customser</h3>
                                <blockquote cite="http://example.com/facts">
                                    <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!</p>
                                    <footer>John Doe <cite title="Source Title">Boogle Inc.</cite></footer>
                                </blockquote>
                            </div></div><div class="owl-item" style="width: 750px; margin-right: 0px;"><div class="item">
                                <i class="icon large ti-microphone text-secondary"></i>
                                <h3 class="lighter">Audiojungle Customer</h3>
                                <blockquote cite="http://example.com/facts">
                                    <p>Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue, risus utaliquam dapibus. Thanks!</p>
                                    <footer>Jane Doe <cite title="Source Title">Poogle Inc.</cite></footer>
                                </blockquote>
                            </div></div></div></div><div class="owl-controls"><div class="owl-nav"><div class="owl-prev" style="">prev</div><div class="owl-next" style="">next</div></div><div class="owl-dots" style=""><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div></div><!--/.carousel-->
                    </div><!--/.col-->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </section><!-- .section -->
        <!-- Centered large lead text -->
        <section class="section grey-background active-section client-images">
            <div class="container">
                <div class="row each-image">
                    <div class="col-md-3 container"><img src="demo/clientlogo1.png" class="image1"></div>
                    <div class="col-md-3 container"><img src="demo/clientlogo2.jpg" class="image2"></div>
                    <div class="col-md-3 container"><img src="demo/clientlogo3.jpg" class="image3"></div>
                    <div class="col-md-3 container"><img src="demo/clientlogo1.png" class="image4"></div>
                </div>
            </div>
        </section><!-- .section -->
</template>